.App{
  display: grid;
  place-items: center;
  background-color: rgb(212, 208, 208);
  height: 100vh;
}
.body{
  display: flex;
  background-color: rgb(245, 242, 239);
  width: 190vh;
  height: 90vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}